* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

#grid_wrapper_nav {
    display: grid;
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0px;
    background-color: rgba(119,136,153,0.3);
}

.links_list {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    list-style-type: none;
    font-size: 12px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.links {
    text-decoration: none;
    color: black;
}

.header_main {
    height: 200px;
    background: blue;
}

.main_main {
    height: 400px;
    background: green;
}

@media screen and (min-width: 600px) {

#grid_wrapper_nav {
        display: grid;
        height: 75px;
        width: 100vw;
        position: fixed;
        top: 0px;
        background-color: rgba(119,136,153,0.3);
}

.links_list {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        list-style-type: none;
        font-size: 17px;
        font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header_main {
    height: 500px;
    background: blue;
}

.main_main {
    height: 1000px;
    background: green;
}


}